/*#F03A47*/
/*#EDDEA4*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: caniago;
    src: url('fnt/Caniago\ Regular.ttf');
}

body {
    position: relative;
    min-height: 100vh;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

.tata-title, .tata-body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header {
    background-color: #FFF29C;
    padding: 10px;
}

#header h1{
    font-family: caniago;
    letter-spacing: 5px;
    font-size: 28pt;
    text-align: center;
    color: #222;
    padding: 20px;
}

#header #logoutbtn {
    display: table;
    text-align: center;
    margin: 0 auto;
    background-color: white;
    color: #222;
    padding: 5px 20px;
    border-radius: 20px;
    font-family: caniago;
    font-weight: bold;
    text-decoration: none;
    transition-duration: .5s;
}

#header #logoutbtn:hover {
    background-color: #222;
    color: white;    
    transition-duration: .5s;
}

#footer {
    background-color: #FFF29C;
    padding: 5px;
    bottom: 0;
    position: absolute;
    width: 100%;
}

#footer p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-style: italic;
    text-align: right;
}

#home-page .flex-container {
    justify-content: space-around;
}

#home-page .flex-container > div {
    width:  40%;
}

#home-page .image {
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-page .image img {
    width:  100%;
}   

#home-page #content {
    padding: 40px;
}

#home-page form {
    background-color: #222;
    box-shadow: 0px 0px 5px #FFF29C;
    width: 100%;
    margin: 40px auto;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
}

#home-page form h1 {
    text-align: center;
    font-family: caniago;
    color: #FFF29C;
}

#home-page form input {
    width: 100%;
}

#home-page form input, #notes-page form input, #notes-page form textarea {
    padding: 8px;
    background-color: #fff8cb;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
    border-radius: 100px;
    text-align: center;
    margin: 10px 0;
}

#home-page form input[type="submit"] {
    background-color: #222;
    border: 2px solid white;
    padding: 10px 0;
    font-weight: bold;
    color: white;
    transition-duration: .2s;
    cursor: pointer;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#home-page form input[type="submit"]:hover{
    color: #FFF29C;
    transition-duration: .5s;
    border: 2px solid #FFF29C;
    transform: scale(1.1);
}

#notes-page form {
    width: 50%;
    margin: 30px auto;
    background-color: #222;
    padding: 10px;
    border-radius: 5px;
}

#notes-page form h1 {
    text-align: center;
    font-family: caniago;
    color: #fff69b;
    padding: 10px 0 20px 0;
    font-size: 18pt;
}

#notes-page form .flex-container {
    justify-content: space-between;
}

#notes-page form .flex-container div {
    width: 75%;
}

#notes-page form .flex-container textarea, #notes-page form .flex-container input[type="text"] {
    width: 100%;
    font-size: 12pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#notes-page form .flex-container input[type="text"] {
    margin-bottom: 10px;
}


#notes-page form textarea {
    resize: none;
    border-radius: 50px;
    padding: 20px;
}




#notes-page form .flex-container input[type="submit"] {
    width: 20%;
    background-color: #FFF29C;
    border: 2px solid #d1c67f;
    font-weight: bold;
    color: #222;
    transition-duration: .2s;
    cursor: pointer;
    font-family: caniago;
    font-size: 14pt;
}

#notes-page form .flex-container input[type="submit"]:hover {
    color: #111;
    background-color: #d1c67f;
    transition-duration: .2s;
}

#notes-page #published-notes {
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: stretch;
}

#notes-page .note {
    border-radius: 5px;
    padding: 10px;
    width: 30%;
    margin: 20px 0;
}

#notes-page .note.blue {
    background-color: #a1c8e9;
}

#notes-page .note.pink {
    background-color: #f6c2d9;
}

#notes-page .note.green {
    background-color: #bcdfc9;
}

#notes-page .note.yellow {
    background-color: #fff69b;
}

#notes-page .note.orange {
    background-color: #e5b477;
}

#notes-page .note h1 {
    text-align: left;
    font-size: 14pt;
    font-family: caniago;
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 5px;
}

#notes-page .note h1 i {
    padding-right: 10px;
    color: rgba(0,0,0, 0.2);
}

#notes-page .note p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}